body {
    background-color: #121212;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
}
nav a {
    color: #ADFF2F;
    margin-right: 15px;
    text-decoration: none;
}
.btn {
    background-color: #228B22;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    margin: 10px;
    display: inline-block;
}
#field {
    background: url('/static/field.png') no-repeat center center;
    background-size: cover;
    width: 600px;
    height: 400px;
    position: relative;
    margin: 20px auto;
    border: 2px solid #FFD700;
}
.player {
    width: 30px;
    height: 30px;
    background: #FFD700;
    position: absolute;
    cursor: move;
}
