{% extends "layout.html" %}
{% block content %}
<main class="hero">
  <p style="margin-top: 0px; margin-bottom: 5px;">Is it offside? (Round {{ round_num }})</p>

  <div id="game-area">
    <div class="drag-instructions">
<div class="drag-row">
  <div class="player red" id="draggable" draggable="true">🔴</div>
  <p class="btn">Drag me to a position you think is not offsides!</p>
</div>
      <p id="attempt-count" style="color:white; font-weight:bold; margin-top: 10px;"></p>
    </div>

    {% set field_url = url_for('static', filename='images/field' ~ round_num ~ '.png') %}
    <div id="field-container" style="background-image: url('{{ field_url }}');">

      <!-- Dropzones -->
      {% if round_num == 1 %}
<div class="dropzone" style="top: 11.07%; left: 7.5%; background-color: transparent;"></div>
<div class="dropzone" style="top: 50.6%; left: 20.2%;" data-correct="true"></div>
<div class="dropzone" style="top: 62.3%; left: 12.0%;"></div>
<div class="dropzone" style="top: 76.91%; left: 3.6%;"></div>
      {% elif round_num == 2 %}
<div class="dropzone" style="top: 76.6%; left: 3.8%;"></div>
<div class="dropzone" style="top: 62%; left: 12.2%;"></div>
<div class="dropzone" style="top: 50.5%; left: 25.5%;" data-correct="true"></div>
<div class="dropzone" style="top: 56.6%; left: 34.2%;" data-correct="true"></div>
      {% else %}
<div class="dropzone" style="top: 44%; left: 13.7%;" data-correct="true" ></div>
<div class="dropzone" style="top: 62%; left: 12.1%;" data-correct="true"></div>
<div class="dropzone" style="top: 56.7%; left: 33%;" data-correct="true"></div>
<div class="dropzone" style="top: 76.5%; left: 3.7%;"></div>
      {% endif %}

      <div id="message"></div>

      <!-- Navigation Buttons (hidden until correct) -->

    </div>
  </div>
  <div id="navigation-buttons" style="margin-top: 20px;">
    <button class="back-button" onclick="goBack()">Back</button>
    <button class="next-button" onclick="goToRound({{ round_num + 1 }})">Next</button>
  </div>
</main>

<footer class="footer">
  <div class="checkerboardblackfirst"></div>
  <div class="checkerboardwhitefirst"></div>
</footer>

<script>
  function goToRound(num) {
    if (num > 3) {
      window.location.href = "/quiz_result";
    } else {
      window.location.href = `/game/${num}`;
    }
  }

  function goBack() {
    const currentRound = {{ round_num }};
    if (currentRound === 1) {
      window.location.href = "/quiz/4";  // Go back to question 5
    } else {
      window.location.href = `/game/${currentRound - 1}`;
    }
  }
</script>

<script src="{{ url_for('static', filename='drag.js') }}"></script>
{% endblock %}
