{% extends "layout.html" %}
{% block content %}

<div class="quiz-page">

<div class="quiz-content">
    <div class="quiz-left">
        <div class="quiz-header">
            <h2>{{ question.header }}</h2>
            <p>Question {{ qnum + 1 }}/3</p>
        </div>

        <img class="quiz-image" src="{{ url_for('static', filename=question.image) }}" alt="Quiz Scenario">
    </div>

    <div class="quiz-right">
       <div class="quiz-question-container">
    <h1>{{ question.question }}</h1>
    <div class="quiz-answers">
        <button class="btn" onclick="submitAnswer('yes', {{ qnum }})">YES</button>
        <button class="btn" onclick="submitAnswer('no', {{ qnum }})">NO</button>
    </div>
</div>

        <p id="feedback" style="margin-top: 20px;"></p>
         <button id="nextBtn" class="big-arrow-next" style="display:none; margin-top: 20px;" onclick="goToNext({{ qnum }})">Next Question</button>
    </div>
</div>

<div class="quiz-footer">
    {% if qnum > 0 %}
    <button class="big-arrow-back" onclick="goToNext({{ qnum - 1 }})">Back</button>
    {% endif %}
    <button id="nextBtn" class="big-arrow-next" style="display:none;" onclick="goToNext({{ qnum }})">Next</button>
</div>

<footer>
    <div class="checkerboardblackfirst"></div>
    <div class="checkerboardwhitefirst"></div>
</footer>

</div>

{% endblock %}
